header {
  width: 1920px;
  height: 200px;
  border-bottom: 1px solid rgb(229, 229, 229);
}
.container {
  display: flex;
  margin: 0 auto;
  width: 1550px;
}

.containerMain {
  margin: 0 auto;
  width: 1550px;
}

.enTete {
  padding-top: 50px;
  display: flex;
  align-items: center;
}

h1 {
  font-size: 48px;
  font-weight: 400px;
  font-family: Helvetica, sans-serif;
}

.logo {
  margin-right: 56px;
  width: 100px;
}
.form {
  margin-top: 320px;
  display: flex;
  align-items: center;
  gap: 50px;
}

.off {
  display: flex;
  margin-bottom: 70px;
  height: 70px;
  width: 120px;
}

.on {
  display: flex;
  margin-bottom: 70px;
  height: 70px;
  width: 120px;
}

.noWay {
  margin: 400px;
  height: 145px;
  width: 250px;
}
